# IPL Data Analysis & Visualization

In [ ]:
project_name = 'ipl_data_analysis_and_visualization'
import jovian
jovian.commit(project = project_name, files = ['matches.csv'])

[jovian] Attempting to save notebook..

The Indian Premier League (IPL) is a professional Twenty20 cricket league in India contested during March or April and May of every year by eight teams representing eight different cities in India.The league was founded by the Board of Control for Cricket in India (BCCI) in 2008. The IPL has an exclusive window in ICC Future Tours Programme.

# Section-1: Data Preparation and Cleaning

### In this data Analysis We will be using various Libraries such as pandas, Numpy, Seaborn & Matplotlib
## Installing The Mentioned Libraries

In [ ]:
pip install numpy

In [ ]:
pip install pandas

In [ ]:
pip install seaborn

In [ ]:
pip install matplotlib

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

The Dataset I am using is downloaded from kaggle and contains around 6 csv's but For the current analysis we will be using only matches Played Data i.e matches.csv

#### Reading Data using Pandas

In [ ]:
ipl_df = pd.read_csv('matches.csv')

### Using .info() method we can See the type of values each Column contains

In [ ]:
ipl_df.info()

to know number of rows and columns of dataset we will use the .shape method

In [ ]:
ipl_df.shape

In [ ]:
# The .describe method gives us the overview of our data i.e data in rows and columns
ipl_df.describe

# Data Cleaning and Processing

In [ ]:
ipl_df

We wont be using the Umpires Columns ('umpire1', 'umpire2', 'umpire3') in this analysis so we will remove those fields using .drop() method

In [ ]:
#inplace argument is used to make permanent changes in the dataframe
ipl_df.drop(columns=['umpire1','umpire2','umpire3'],inplace=True)

In [ ]:
# Exploring all column names in the data frame
ipl_df.columns

In [ ]:
# Now lets seasons data we have in our dataframe
# we use .unique() method to list the unique items from the selected column
ipl_df.Season.unique()

In [ ]:
# Now Lets see all the teams that have played so far
ipl_df.team1.unique()

In [ ]:
ipl_df.city.unique()

### From the Above Observations some Data cleaning is required
1. Pune was represented by various Team Names as 'Rising Pune Supergiant', 'Pune Warriors' & 'Rising Pune Supergiants' so as a convinience we will changes these with the recent team representing Pune 'Rising Pune Supergiant' in all columns involving this name i.e 'team1','team2','winner' & 'toss_winner' columns, similarly 2nd Change is in team name of Delhi
2. Earlier the team name for delhi was 'Delhi Daredevils' but later it was changed to 'Delhi Capitals' so we will replace the "delhi Daredevils' with 'Delhi Capitals'
3. Bangalore was Renamed as Bengaluru in 2014 so we will change the Name for City Bangalore to Bengaluru to avoid Errors in Data Analysis

In [ ]:
# We will use the .replace() method for the above mentioned cleaning
ipl_df.team1.replace({'Rising Pune Supergiants' : 'Rising Pune Supergiant', 'Delhi Daredevils':'Delhi Capitals','Pune Warriors' : 'Rising Pune Supergiant'},inplace=True)
ipl_df.team2.replace({'Rising Pune Supergiants' : 'Rising Pune Supergiant', 'Delhi Daredevils':'Delhi Capitals','Pune Warriors' : 'Rising Pune Supergiant'},inplace=True)
ipl_df.toss_winner.replace({'Rising Pune Supergiants' : 'Rising Pune Supergiant', 'Delhi Daredevils':'Delhi Capitals','Pune Warriors' : 'Rising Pune Supergiant'},inplace=True)
ipl_df.winner.replace({'Rising Pune Supergiants' : 'Rising Pune Supergiant', 'Delhi Daredevils':'Delhi Capitals','Pune Warriors' : 'Rising Pune Supergiant'},inplace=True)
ipl_df.city.replace({'Bangalore' : 'Bengaluru'},inplace=True)

In [ ]:
ipl_df.team1.unique()

In [ ]:
ipl_df.team2.unique()

In [ ]:
ipl_df.city.unique()

So We Have Cleaned With Replication And Misspelled Data

### Lets Commit our Work so it's Saved

In [ ]:
jovian.commit(project=project_name, files = ['matches.csv'])

# Lets Check For Missing Values

In [ ]:
# we can use .isnull() to set Null values to True and then use .sum() to calculate all the null values
ipl_df.isnull().sum().sum()

Above Result Shows we have 15 Null values in our data set. Now we will search For them.

In [ ]:
null_df = ipl_df[ipl_df.isna().any(axis=1)]

In [ ]:
null_df

From Above Observations We can See NaN values in various Columns like 'city', 'winner' ,'Player Of The Match'. But By Observation it is clear the NaN Values for columns like 'Winner' and 'Player Of The Match' are only for Case When Match had "No Result" so we Can assume the Match might have been a Draw or Cancelled Due to Some Weather Or Technical Conditions. While The Other Case 'City' Column has NaN values for Rows where Stadium Location is dubai. So we will Replace These NaN values and Insert "Dubai" as City in its Place

We Can See this values are at index 461,462,466,468,469,474,476

In [ ]:
ipl_df.loc[460:470]

Now We will Replace it With "Dubai"

In [ ]:
ipl_df.loc[[461,462,466,468,469,474,476],'city'] = "Dubai"

In [ ]:
#Lets See the Changed Values
ipl_df.loc[461:480]

In [ ]:
#Now lets Confirm if we have any NaN values in City Field
ipl_df.city.isnull().any()

Now Lets Check For Total Remaining NaN Values

In [ ]:
# Lets Check if any any other COlumns Have NaN values
ipl_df.isna().any()[lambda x: x]

From Above Results It is clear That we have have No NaN values Other than Those in Columns Of Winner and Player Of The Match

So We Have Now Completed With Our Data Cleaning Part and Can Move with Further Steps

### Let's Commit the Work Completed Until now

In [ ]:
jovian.commit(project=project_name)

# Section-2: Exploratory Analysis and Visualization

Now We Will Analyse the Data For Different types of Queries

In [ ]:
#Lets find total Number of Matches Played from 2008 - 2019
ipl_df.id.count()

We can see 756 Matches Have Been Played in 11 Seasons (08 - 19)

In [ ]:
#Now Lets Find Total Number Of Matches Where Result Was normal i.e Not A Tie
regular_matches = ipl_df[ipl_df.result == 'normal'].count()

In [ ]:
regular_matches.result

We can See From 756 Matches Played Only 13 seem not to have a normal result

### Total Matches Played in Each City

In [ ]:
#Lets See About Cities Where Matches have Been Played
ipl_df.city.unique()

Now Lets See Match count played in each of the above city

In [ ]:
cities = ipl_df.groupby('city')[['id']].count()

In [ ]:
cities

Lets Arrange this data In a More Organised manner

In [ ]:
plt.figaspect
cities.rename(columns={'id':'matches'},inplace=True)
cities = cities.sort_values('matches',ascending=True).reset_index()
cities

We can See IPL has Altogether 32 Official Locations where matches have been Played since 2008 till 2019. As we all might know this year's IPL is again being Held at UAE

Lets Plot the Cities in a bar Chart

In [ ]:
plt.figure(figsize=(20,10))
plt.grid()
plt.title('Number Of Matches Played In Each City')
sns.barplot(x='matches',y='city',data=cities);

It seems Mumbai has Been the favourite Location followed by Bengaluru and Kolkata

Now Lets See Matches Won by Each Team

### Total Matches Won By Each Team

In [ ]:
ipl_df.winner.unique()

In [ ]:
winner_df = ipl_df.groupby('winner')[['id']].count()
winner_df = winner_df.sort_values('id', ascending=False).reset_index()

winner_df.rename(columns = {'id':'wins','winner':'Teams'},inplace=True)
winner_df

Seems Mumbai Indians Have won the Most matches in IPL Till Date. Followed by Chennai Super Kings.

Now Lets Plot These Wins

In [ ]:
#Plotting Wins vs Teams
plt.figure(figsize=(30,20))
plt.xlabel('Teams')
plt.ylabel('Wins')
plt.title('Matches Won By Each Team');
plt.bar(winner_df.Teams,winner_df.wins);

Lets Add Colour To Each Team so That we Get A Clear Idea

We can do this by using color argument of the bar() Function

In [ ]:
#Plotting Wins vs Teams
#We will be using colour code of teams jersey to make it easily understandable
plt.figure(figsize=(20,10))
plt.legend(winner_df.Teams,loc=1)
plt.xlabel('Teams',fontweight='bold',fontsize=30)
plt.ylabel('Wins',fontweight='bold',fontsize=30)
plt.tick_params(labelsize=20)
plt.xticks(rotation=90)
plt.title('Matches Won By Each Team',fontweight='bold',fontsize=30);
plt.bar(winner_df.Teams, winner_df.wins, color = ['blue','#FFD801','#461B7E','#C11B17','#F660AB','#000080','#F535AA','#F87217','#BCC6CC','#2C04A2','#E04F16','#632B72']);

From the above Graph its clear Mumbai Indians have won most number of Matches

Lets Commit Our Work Until Now

In [ ]:
jovian.commit(project=project_name)

Now lets See Season with Most Number Of Matches

In [ ]:
season_df = ipl_df.groupby('Season')[['id']].count()
season_df = season_df.sort_values('Season', ascending=False).reset_index()
season_df.rename(columns = {'id':'Matches','Season':'Year'},inplace = True)

In [ ]:
season_df

Now Lets plot this Information

In [ ]:
#To make it look more neat we will rotate the x-axis name with an angle of 60 using .xticks() method
# Also will make the font bold and increase its size for readability
plt.figure(figsize=(20,10))
plt.title("Mathes Played In Each Season",fontweight='bold',fontsize=30)
plt.xlabel('Season',fontweight='bold',fontsize=30)
plt.ylabel('Total Matches',fontweight='bold',fontsize=30)
plt.xticks(rotation='60')
plt.tick_params(labelsize=20)
plt.bar(season_df.Year,season_df.Matches,color=['#98AFC7','#6D7B8D']);

From The Above Graph its Clear the Season 2013 had most number of matches played (76)

Lets Commit our work and Move further with analysis

In [ ]:
jovian.commit(project=project_name)

# Section 3: Asking Interesting Questions on data

I will be asking following Questions:

1. What was the most preferred Decision On winning Toss i.e. Choose To Bat / Choose To Field

2. Which Decision has proved most beneficial i.e Field / Bat 

3. Which Venue has hosted the Most Number Of Ipl Matches

4. Who has been awarded with Player Of the Max maximum Number Of Times

5. Who Has Won the Ipl Trophy Most Number of Times

6. Which Season had Most Number of Matches Played

## Q1. What was the most preferred Decision On winning Toss i.e. Bat / Field

In [ ]:
ipl_df

In [ ]:
# We can see toss decision is either bat/field
ipl_df.toss_decision.unique()

In [ ]:
decision_df = ipl_df.groupby('toss_decision')[['id']].count()
decision_df = decision_df.sort_values('id').reset_index()
decision_df.rename(columns={'id':'Total','toss_decision':'Decision'},inplace=True)

In [ ]:
decision_df

In [ ]:
#Lets plot the Result
plt.figure(figsize=(10,10))
plt.title("Preferred Decision",fontweight='bold',fontsize=30)
plt.xlabel('Decision',fontweight='bold',fontsize=30)
plt.ylabel('Total',fontweight='bold',fontsize=30)
plt.tick_params(labelsize=20)
plt.grid()
plt.bar(decision_df.Decision, decision_df.Total, color=['#4863A0','#566D7E']);

In [ ]:
print('The Most Preferred Decision After Winning Toss in the IPL Until 2019 has been "Choose to Field First"')

In [ ]:
jovian.commit(project=project_name)

Now Lets See Which Decision has been Proven more Beneficial

## Q2. Which Decision has proved most beneficial i.e Field / Bat

In [ ]:
field_df = ipl_df.loc[(ipl_df['toss_winner'] == ipl_df['winner']) & (ipl_df['toss_decision'] == 'field'), ['id', 'winner','toss_decision']]

In [ ]:
field_df.winner.count()

In [ ]:
bat_df = ipl_df.loc[(ipl_df['toss_winner'] == ipl_df['winner']) & (ipl_df['toss_decision'] == 'bat'), ['id', 'winner','toss_decision']]

In [ ]:
bat_df.winner.count()

In [ ]:
frames = [bat_df, field_df]
result_df = pd.concat(frames)
result_df = result_df.groupby('toss_decision')[['id']].count()
result_df

In [ ]:
#As from Earlier Analysis we know out of 756 Toss that were tossed (2008 - 2019) "463 times toss winning Team Choose to Field First" and only "293 Times batting was choosen"
# Now Lets Plot the New Understanding Regarding the Success of these decisions
result_df = result_df.sort_values('id').reset_index()
result_df.rename(columns={'id':'Total','toss_decision':'Decision'},inplace=True)
result_df

In [ ]:
plt.figure(figsize=(10,10))
plt.title("Decision Success",fontweight='bold',fontsize=30)
plt.xlabel('Decision',fontweight='bold',fontsize=30)
plt.ylabel('Total',fontweight='bold',fontsize=30)
plt.tick_params(labelsize=20)
plt.bar(decision_df.Decision, decision_df.Total, color=['#4CC552','#4CC552']);
plt.bar(result_df.Decision, result_df.Total, color=['#00FF00','#00FF00']);
plt.legend(['Decision Taken','Decision Proved Right']);

We can See the Fielding decision on winning toss has not only been most Preferred one But it has also proven to be a good Decision as almost 60% of the Time it is Proved Right

## Q3. Which Venue has hosted the Most Number Of Matches

In [ ]:
# Lets see how many venues have hosted the Ipl Matches
ipl_df.venue.unique()

In [ ]:
total_venue = list(ipl_df.venue.unique())
len(total_venue)

We Can See ipl has hosted the Matches across 41 Different venues 

Lets See Which Venue Hosted the Most Number Of Matches

In [ ]:
venue_df = ipl_df.groupby('venue')[['id']].count()
venue_df = venue_df.sort_values('id',ascending=False).reset_index()
venue_df.rename(columns={'id':'Total','venue':'Stadium'},inplace=True)

In [ ]:
labels = list(venue_df.Stadium)
venue_df

As we have a long list We will only Take Top 10 Venues for our Graphical Representation

In [ ]:
plt.figure(figsize=(20,20))
plt.title("Venues",fontweight='bold',fontsize=30)
plt.tick_params(labelsize=40)
plt.pie(venue_df.Total,labels=labels,textprops={'fontsize': 13});

So We can See the most Number of matches were played at Eden Gardens(77) Followed By Wankhede Stadium (73)

In [ ]:
#Lets Commit The Work
jovian.commit(project=project_name)

## Q4. Who has been awarded with Player Of the Match maximum Number Of Times

In [ ]:
#Lets Check how many players have been awarded with player of the match award
len(ipl_df.player_of_match.unique())

This is Huge Number, we can see 227 Players have been awarded with player of the match title

Now Among these players lets see who have Got the maximum Player of The Match Awards

In [ ]:
player_df = ipl_df.groupby('player_of_match')[['id']].count()

In [ ]:
player_df

In [ ]:
player_df = player_df.sort_values('id',ascending=False).reset_index()

In [ ]:
player_df

In [ ]:
#Now From these Players Lets Extract Top 10 Players
players_df = player_df.head(10).copy()
players_df.rename(columns={'id':'Total_Awards','player_of_match':'Man_Of_The_Match'},inplace=True)
players_df

From the above result it is clear that Chris Gayle has received  "21 Man of The Match Titles" and is followed by AB de Villiers having "20"

In [ ]:
plt.figure(figsize=(15,10))
plt.title("Top 10 Players with Highest Man Of the Match Titles",fontweight='bold' )
plt.xticks(rotation=90)
plt.yticks(ticks=np.arange(0,25,5))
plt.ylabel('No. of Awards')
plt.xlabel('Players')
sns.barplot(x=players_df.Man_Of_The_Match,y=players_df.Total_Awards, alpha=0.6);

In [ ]:
#Lets Commit
jovian.commit(project=project_name)

## Q5. Who Has Won the Ipl Trophy Most Number of Times

Now lets search For Team with Most Season Wins

We will have to extract the Final matches from the Entire Data

To do that we can sort the matches season wise and then select the last match of the season

In [ ]:
final_df = ipl_df.groupby('Season').tail(1).copy()

In [ ]:
final_df

In [ ]:
#Now Lets sort The Data According to Seasons
final_df = final_df.sort_values('Season')
final_df

In [ ]:
final_df.winner.unique()

In [ ]:
final_df['winner'].value_counts()

We can See Mumbai Indians have Won the Most Season Titles till 2019

In [ ]:
plt.figure(figsize=(20,10))
plt.title("Season Champions",fontweight='bold',fontsize=20)
plt.xlabel('Teams',fontweight='bold',fontsize=30)
plt.ylabel('Total Seasons',fontweight='bold',fontsize=20)
plt.xticks(rotation='60')
plt.tick_params(labelsize=10)
sns.countplot(x=final_df['winner'],palette=['#F535AA','#BCC6CC','yellow','#461B7E','blue','#F87217']);

So We can easily verify ny visuals the Most Number of Season Champion is Mumbai Indians

In [ ]:
jovian.commit(project=project_name)

## Q6. Which Season Had Most Number of Matches

In [ ]:
#This we had Explored Earlier
season_df

In [ ]:
#To make it look more neat we will rotate the x-axis name with an angle of 60 using .xticks() method
# Also will make the font bold and increase its size for readability
plt.figure(figsize=(20,10))
plt.title("Mathes Played In Each Season",fontweight='bold',fontsize=30)
plt.xlabel('Season',fontweight='bold',fontsize=30)
plt.ylabel('Total Matches',fontweight='bold',fontsize=30)
plt.xticks(rotation='60')
plt.tick_params(labelsize=20)
plt.bar(season_df.Year,season_df.Matches,color=['#98AFC7','#6D7B8D']);

So We can see IPL-2013 had witnessed most number of matches

In [ ]:
jovian.commit(project=project_name)

# Section 4: Inferences and Conclusion

In this analysis I used the matches.csv file from the kaggle Datasets. Following are my conclusions about it

1. A total of 756 matches have been played from 2008 - 2019
2. Out of these 756 matches 743 matches were played normally and had a normal result
3. Most number of Matches were played in Mumbai [101]
4. Mumbai Indian's Have Won the Most Number of Matches (109) followed by Chennai Super Kings with 100 Matches
5. IPL-2013 Season Hosted most Number of Matches (76)
6. Eden Gardens (Stadium) Hosted the Most Number of Matches (77) followed by wankhede Stadium (73)
7. Chris Gayle has been the Man Of The Match Most Number of Times with "21" Awards followed by AB di Villiers (20) and MS Dhoni (17)
8. Mumbai Indians Have been the IPL Champions Most number of times (4) followed by Chennai Super Kings (3)
9. Mumbai Indians and Chennai Super Kings have been the dominant Teams

# Future Work

The data set had 6 different csv Files. I will try to explore the 'Players.csv', 'Deliveries.csv' and others in detail

# References

The Starter Notebook: https://jovian.ml/aakashns/zerotopandas-course-project-starter

Numpy Documentation: https://numpy.org/devdocs/user/quickstart.html

User guide for Pandas: https://pandas.pydata.org/docs/user_guide/index.html

Seaborn gallery: https://seaborn.pydata.org/examples/index.html

Matplotlib gallery: https://matplotlib.org/3.1.1/gallery/index.html

Data Visualization Cheat Sheet: https://jovian.ml/aakashns/dataviz-cheatsheet

In [ ]:
jovian.commit(project=project_name, files = ['matches.csv'])